@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Drag and drop exmaple 15 css  */
.shared {
  background-color: rgb(215, 203, 180);
}
