<aside
  class="w-64 bg-slate-900 text-white h-screen overflow-y-auto no-scrollbar shadow-lg p-5"
>
  <ul class="space-y-2">
    <h2 class="text-xl font-bold mb-6">Examples</h2>

    <li>
      <a
        id="ex1"
        href="ex1.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 1</a
      >
    </li>
    <li>
      <a
        id="ex2"
        href="ex2.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 2</a
      >
    </li>
    <li>
      <a
        id="ex3"
        href="ex3.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 3</a
      >
    </li>
    <li>
      <a
        id="ex4"
        href="ex4.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 4</a
      >
    </li>
    <li>
      <a
        id="ex5"
        href="ex5.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 5</a
      >
    </li>
    <li>
      <a
        id="ex6"
        href="ex6.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 6</a
      >
    </li>
    <li>
      <a
        id="ex7"
        href="ex7.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 7</a
      >
    </li>
    <li>
      <a
        id="ex8"
        href="ex8.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 8</a
      >
    </li>
    <li>
      <a
        id="ex9"
        href="ex9.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 9</a
      >
    </li>
    <li>
      <a
        id="ex10"
        href="ex10.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 10</a
      >
    </li>
    <li>
      <a
        id="ex11"
        href="ex11.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 11</a
      >
    </li>
    <li>
      <a
        id="ex12"
        href="ex12.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 12</a
      >
    </li>
    <li>
      <a
        id="ex13"
        href="ex13.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 13</a
      >
    </li>
    <li>
      <a
        id="ex14"
        href="ex14.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 14</a
      >
    </li>
    <li>
      <a
        id="ex15"
        href="ex15.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 15</a
      >
    </li>
    <li>
      <a
        id="ex16"
        href="ex16.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 16</a
      >
    </li>
    <li>
      <a
        id="ex17"
        href="ex17.html"
        class="example-btn block px-4 py-2 rounded-lg hover:bg-slate-800"
        >Example 17</a
      >
    </li>
  </ul>
</aside>
